.App {
  font-family: Roboto;
  background: #e5e5e5;
}

.App-container {
  background-color: #ffffff;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.content {
  padding-top: 33px;
}

.sideNav {
  padding-top: 33px;
  width: 100px;
}

.footer {
  padding-left: 100px;
  margin-top: 27px;
  margin-bottom: 22px;
}

.regal-green {
  background: #1bc5bd;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding: 8px 14px;
  margin-left: 23px;
}
.deep-blue {
  background: #005b96;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  padding: 8px 14px;
  margin-left: 23px;
}
.pill-blue {
  color: #f1fafe;
}
.t-blue {
  color: #011f4b;
}
.l-blue {
  color: #005b96;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.ash-blue {
  color: #7e8299;
}

.start {
  display: flex;
  justify-content: flex-start;
}
.center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.between {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.header-two {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.header-one {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
